

.all {

    display:flex;
    margin: 50px;
    font-size: 24px;
    background: rgb(255, 0, 0);
    width:320px;



}


.item {
    display:flex;
    margin: 50px;
    font-size: 24px;
    background: rgb(255, 163, 163);
    width:220px;
    

}
.fix {

    display:flex;
    flex-wrap:wrap;
}